<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../script/app.js" defer></script>
</head>
<body>
    <div id="form">
            <div id="titulo">
                senha eletrônica
            </div>
            <form action="/login" id ="login" method="post">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" required placeholder="Digite seu usuário"><br>
                <label for="senha" id="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Use o teclado virtual para inserir sua senha!"><br>
                <button type="submit" id="btn_login">ENTRAR</button>
                <div class = "container">
                    <div class="keyboard">
                        <div class="row">
                            <button class = "btn">1</button>
                            <button class = "btn">2</button>
                            <button class = "btn">3</button>
                            
                        </div>
                        <div class="row">
                            <button class = "btn">4</button>
                            <button class = "btn">5</button>
                            <button class = "delete">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
            
        <div id="cadastro">
            <h2>novo aqui?</h2>
            <form>
                <button type="submit" formaction="/path" id="redirect">Cadastrar</button>
            </form>
        </div>
    </div>
    
</body>
</html>