<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div id="form_background">
        <h1>Login</h1>
        <div id="form">
            <form action="/login" id ="login" method="post">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" required placeholder="Digite seu usuário"><br>
                <label for="senha" id="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Use o teclado virtual para inserir sua senha!"><br>
                <button type="submit" id="btn_login">ENTRAR</button>
            </form>
        </div>
        <div id="cadastro">
            <form action="/cadastrarUsuario" id ="register" method="post">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" required placeholder="Digite seu usuário"><br>
                <label for="senha" id="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Use o teclado virtual para inserir sua senha!"><br>
                <button type="submit" id="btn_login">ENTRAR</button>
            </form>
        </div>
    </div>
    
</body>
</html>